ion-content.page-downloads {
  h1.header {
    font-family: "Oswald", sans-serif;
    color: #00498a;
  }
  h2.header {
    font-family: "Oswald", sans-serif;
    color: #00498a;
  }
  h2.button {
    font-family: "Oswald", sans-serif;
  }
  i {
    color: #222;
    font-style: italic;
    font-size: small;
  }
  p {
    font-family: "Calibri", sans-serif;
  }
}
