ion-list-header.header {
  margin: 0px;
  margin-bottom: -10px;
}

h2.header {
  font-family: "Oswald", sans-serif;
  font-size: 15px;
  margin: 10px 10px 0px 1px;
  margin-top: 2px;
  margin-bottom: 0px;
  color: #00498a;
  max-width: 85%;
}

ion-item.content {
  font-family: "Calibri", sans-serif;
  color: #ffa016;
  font-size: small;
  margin: -10px 5px 0px 10px;
  padding: 0px 25px 0px 20px;
}
.date {
  font-style: italic;
  font-size: smaller;
}

ion-card.bordered {
  border: solid 2px rgba(121, 111, 101, 0.21);
}
