<ion-header class="header-wordpress-posts-home">
  <ion-navbar>
    <button ion-button menuToggle="left" icon-only>
      <ion-icon name='menu'></ion-icon>
    </button>
    <ion-title class="bounce-top">{{'POSTS' | translate}}</ion-title>
    <ion-buttons end>
      <button ion-button menuToggle="right" icon-only>
        <ion-icon name='more'></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
  <ion-toolbar class="toolbar-wordpress-posts-home">
    <ion-row class="row-header">
      <ion-col class="col-header left">
        <ion-header class="bar-subheader left" text-left>
          <h6 class="header left">Videos</h6>
        </ion-header>
        <ion-content id="left-top-header">
          <ion-list>
            <button ion-item class="item-header-background" *ngFor="let video of videos" (tap)="loadVideo(video)">
              <ion-avatar item-start *ngIf="video.snippet.thumbnails.default.url">
                <img [src]="video.snippet.thumbnails.default.url">
              </ion-avatar>
              <h5 class="header" text-wrap>{{video.snippet.title}}</h5>
              <!-- <p [innerHtml]="video.snippet.description"></p> -->
            </button>
          </ion-list>
        </ion-content>
      </ion-col>
      <ion-col col-1 id="center-top-header" class="col-header">
        <!-- <img showWhen="landscape" src="/assets/img/header-logo-transparent.png" /> -->
      </ion-col>
      <ion-col class="col-header right">
        <ion-header class="bar-subheader right" text-right>
          <h6 class="header right">Rundschreiben</h6>
        </ion-header>
        <ion-content class="animate-in-primary" id="right-top-header">
          <ion-list>
            <button ion-item *ngFor="let feed of feeds" (tap)="loadFeed(feed)">
              <h5 class="header" text-wrap>{{feed.title}}</h5>
            </button>
          </ion-list>
        </ion-content>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>
<ion-content class="page-wordpress-posts-home list-grow-animation">
  <ion-list text-wrap class="slide-in-bck-bottom">
    <button ion-item detail-none clear *ngFor="let post of posts" (tap)="loadPost(post)">
      <ion-item-group>
        <ion-item-divider>
          <h3 item-start tappable class="menuheader-grow-animation header">{{post.title.rendered}}</h3>
          <ion-note item-end class="date">{{post.date | date:'dd/MM'}}</ion-note>
        </ion-item-divider>
        <p class="content">{{post.content.rendered | trimHTML | truncate: 200 }}</p>
      </ion-item-group>
    </button>
    <!--<ion-item-sliding #slidingItem>
        <ion-item class="content" (tap)="loadPost(post)" text-wrap>{{post.content.rendered | trimHTML | truncate: 200 }}</ion-item>
        <ion-item-options side="right">
          <button ion-button color="primary" (click)="share(slidingItem)" (tap)="favoritePost(post)">
            <ion-icon name="thumbs-up"></ion-icon>
            {{ 'FAVORITE' | translate }}
          </button>
          <button ion-button color="secondary" (tap)="loadPost(post)">
            <ion-icon name="book"></ion-icon>
            {{ 'READ' | translate }}
          </button>
        </ion-item-options>
      </ion-item-sliding>
      <p>
        <button ion-button small margin outline color="primary" (tap)="favoritePost(post)" icon-start>
          <ion-icon name='thumbs-up'></ion-icon>
          {{ 'FAVORITE' | translate }}
        </button>
        <button ion-button small margin outline color="secondary" (tap)="loadPost(post)" icon-end>
          {{ 'READ' | translate }}
          <ion-icon name='book'></ion-icon>
        </button>
      </p> -->
  </ion-list>
  <ion-infinite-scroll (ionInfinite)="loadMore($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
