<ion-header>
  <ion-navbar>
    <ion-buttons start>
      <button ion-button (click)="dismiss()">{{'CLOSE' | translate}}</button>
    </ion-buttons>
    <ion-title>Das große Abenteuer beginnt</ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <div>
    <h2 class="header">DEUTSCHE MITTE: Das große Abenteuer beginnt</h2>
  </div>
  <div>
    <div><div class="qyUQUyx6PsO6pvYoBoVXZ allowTextSelection" title="DEUTSCHE MITTE: Das große Abenteuer beginnt - genau JETZT!" role="heading" aria-level="2">DEUTSCHE MITTE: Das große Abenteuer beginnt - genau JETZT!</div><div><span class="undefined lpc-hoverTarget" tabindex="0"><div class="_3koDZjIVXlcaoU2wMhAFux">Partei Deutsche Mitte</div></span><div>Fr 10.11.2017, 16:40</div><div class="_1k5ljmNLF6DdwiAqru5iBD"><span><div><label class="_2KPyeBUY1cGIZ1Ix3MJAAr">An:</label><div class="_3fPk1HmnnuVwuTSpm7aoMB"><span class="undefined lpc-hoverTarget" tabindex="0"><div class="_3V9IW6blgRX3GLASd1KMhG"><!-- react-text: 41 --> <!-- /react-text --><!-- react-text: 42 -->Michael Humann &lt;Kingpin0509@gmail.com&gt;;<!-- /react-text --></div></span></div><div class="_3fPk1HmnnuVwuTSpm7aoMB _3w9nreqMHCMxmT2YFzYGVh"></div></div><!-- react-empty: 44 --></span></div></div><div><div class="rps_6169">
      <div>
      <div>
      <h2><span style="font-family:arial,helvetica,sans-serif"><strong>Das große Abenteuer beginnt – genau JETZT!</strong></span></h2>
      <span style="font-family:arial,helvetica,sans-serif">Redaktion: Hans U. P. Tolzin, info@deutsche-mitte.de<br>
      Im Auftrag des Bundesvorstands<br>
      <br>
      Inhalt:<br>
      <br>
      [01] Das große Abenteuer beginnt – genau JETZT<br>
      [02] Gesucht: Die optimale Internet-Diskussionsplattform für DM-Mitglieder<br>
      [03] Gesucht: Software für sichere und transparente Urabstimmungen<br>
      [04] Gesucht: Mitglieder mit Fachkompetenz für die Bildung von Arbeitsgruppen<br>
      [05] Gesucht: Kandidaten für den nächsten Bundesvorstand<br>
      [06] Gesucht: Interessenten und Inhalte für Stammtischleiterschulungen<br>
      [07] Entwurf: Gesundheitspolitisches Programm wird demnächst zur Diskussion freigegeben<br>
      [08] Gesucht: Redaktionsteam zur Überarbeitung des Grundsatzprogramms<br>
      [09] Eingestellt: Recherchen zu mutmaßlichen Wahlfälschungen<br>
      [10] Verbindlich: 14-Tage-Frist für die Beantragung von Reisekostenerstattungen<br>
      [11] DATEV-Schulung der Schatzmeister und des Bundesvorstands hat stattgefunden<br>
      <br>
      &nbsp;<br>
      <strong>[01] Das große Abenteuer beginnt – genau JETZT!</strong><br>
      <br>
      Liebe Mitglieder der DEUTSCHEN MITTE<br>
      liebe Freunde,<br>
      <br>
      wer meinen offenen Abschiedsbrief an Christoph Hörstel noch nicht kennt, der sei auf <a href="https://newsletter.deutsche-mitte.de/index.php?subid=2559&amp;option=com_acymailing&amp;ctrl=url&amp;urlid=56&amp;mailid=94" target="_blank" rel="noopener noreferrer">diesen Link</a> verwiesen. Ich werde versuchen, möglichst wenig zu wiederholen, was ich dort schon ausgedrückt habe.<br>
      <br>
      Christoph Hörstel hat die DEUTSCHE MITTE gegründet und bis zum 31. Oktober 2017 entscheidend geprägt. Hat er also ein Vakuum hinterlassen, das niemand ausfüllen kann?<br>
      <br>
      So mag sich das auch tatsächlich für manche Mitglieder oder Stammtische darstellen. Aus meiner persönlichen Warte ist jedoch das Einzige, was im Moment lähmt, die ungeklärte finanzielle Situation des Bundes.<br>
      <br>
      Derzeit arbeiten im Hintergrund einige kompetente Menschen an der Lösung des Problems. Trotzdem wird es vermutlich noch Wochen dauern, bis Entwarnung gegeben werden und darüber hinaus den Landesverbänden endlich die ihnen satzungsgemäß zustehende Finanzhoheit übertragen werden kann.<br>
      <br>
      Das Beispiel Christoph Hörstel hat uns gezeigt, dass es verführerisch, gleichzeitig aber auch trügerisch ist, notwendige gesellschaftliche Veränderungen in erster Linie auf einem Programm und der Persönlichkeit einzelner Personen aufzubauen. Bricht diese zentrale Person weg oder ändert sie ihre Meinung, bricht die auf sie zugeschnittene Organisation zwangsläufig zusammen. Das ist 2013 mit der NEUEN MITTE geschehen und könnte im Prinzip auch mit der DEUTSCHEN MITTE passieren.<br>
      <br>
      Doch danach sieht es im Moment nicht aus. Von allen weiterhin aktiven Mitgliedern springt mir eine geradezu elektrisierende Begeisterung darüber entgegen, dass der Parteibasis jetzt ein echtes Mitgestalten möglich ist.<br>
      <br>
      Was also jetzt ansteht, ist die Aktivierung der Ressourcen, die als Know-How und soziale Kompetenz in unseren Mitgliedern stecken. Dazu weiter unten in diesem Newsletter mehr.<br>
      <br>
      Letztes Jahr habe ich an mehreren Seminaren über den sogenannten WIR-Prozess teilgenommen und persönlich sehr davon profitiert. Der WIR-Prozess basiert auf der Arbeit des amerikanischen Psychologen Scott Peck, in der es um die Phasen geht, die eine Gruppe von Menschen auf dem Weg von einer Scheingemeinschaft zur echten Gemeinschaft durchläuft. Während wir in einer Scheingemeinschaft einander mehr oder weniger nur Masken zeigen, um unsere Schwächen und Ängste zu verbergen, ist die echte Gemeinschaft von gegenseitiger Akzeptanz und Wahrhaftigkeit geprägt. Hier übernimmt jeder Einzelne nach dem „All-Leaders-Prinzip“ Verantwortung für das Ganze, indem er sich authentisch einbringt und mitgestaltet.<br>
      <br>
      Es gibt in Deutschland eine wachsende Bewegung, die sich mit diesen Themen auseinandersetzt und experimentiert. Viele Lebensgemeinschaften, Firmen und Organisationen üben sich bereits in einem konstruktiveren Miteinander.<br>
      <br>
      Meine persönliche Vision ist, dass die DEUTSCHE MITTE ein lebendiger Teil dieser Bewegung wird. Eine Organisation, die im Außen reformieren will, muss diese Reformen zunächst bei sich selbst im Innern umgesetzt haben. Denn so, wie sich die DEUTSCHE MITTE derzeit (noch) zeigt, ist sie ein Spiegel der Gesellschaft und damit mehr Teil des Problems als Teil der Lösung.<br>
      <br>
      Das Abenteuer, für das wir uns nun entscheiden können, wenn wir das wollen, liegt darin, ausgerechnet (!) eine Partei im Sinne einer echten Gemeinschaft so zu gestalten, dass sie ein Vorbild für andere Parteien, für den Bundestag und für die Gesellschaft sein kann. Dazu müssen auch wir ein neues Miteinander üben.<br>
      <br>
      Nun, die Grünen und später die Piraten sind bereits vor Jahren bei diesem Versuch gescheitert. Vielleicht war ja die Zeit damals noch nicht reif. Eine zentrale Ursache ist aber sicherlich, dass sie nicht wie die DEUTSCHE MITTE über ein Parteiprogramm verfügten, das die meisten Grundsatzdiskussionen einfach überflüssig macht: Bei uns muss sich jedes neue Mitglied bereits bei Eintritt in die Partei zu diesem Programm bekennen – oder sich woanders politisch orientieren. Das Ergebnis ist eine Partei voller Gleichgesinnter, die grundsätzlich am gleichen Strang ziehen.<br>
      <br>
      Doch um uns herum wimmelt es nur so von Zweiflern und Abwinkern. Sich in einer Partei einzubringen, meinen sie, sei von vornherein sinnlos. Parteien seien grundsätzlich korrupt und Instrumente des Bösen, und zwar für immer und ewig. Basta und Amen!<br>
      <br>
      Basta und Amen? Wer sagt das? Wo steht das geschrieben? Ist das etwa ein Naturgesetz oder handelt es sich nur um eine aus schlechten Erfahrungen geborene freiwillige Begrenzung unserer Vorstellungskraft?<br>
      <br>
      Wenn wir uns dafür entscheiden, das Experiment zu wagen, gibt es natürlich keine Garantien für einen Erfolg. Es ist ein Experiment mit ungewissem Ausgang. Andererseits: Wenn es gelänge, wie g… (Entschuldigung!) wäre das denn?<br>
      <br>
      Doch selbst, wenn nicht: Auch ein misslungener Versuch ist ein Erfolg, so lehrt uns Thomas Alva Edison, der Erfinder der Glühbirne: Jeder Misserfolg – und Edison hatte davon bekanntlich Tausende – hatte ihn der Erfindung ein kleines Stück nähergebracht.<br>
      <br>
      Das entspricht auch meiner persönlichen Lebenserfahrung. Ich bin also auf jeden Fall dabei.<br>
      <br>
      Das große Abenteuer beginnt also – genau JETZT!<br>
      <br>
      Wer macht mit?<br>
      <br>
      <strong>[02] Gesucht: Die optimale Internet-Diskussions-Plattform für DM-Mitglieder</strong><br>
      <br>
      Sobald neue Arbeitsgruppen Inhalte erarbeiten, benötigen wir eine Internetplattform, auf der die Ergebnisse diskutiert und bis zur Entscheidungsreife gebracht werden können. Dazu ist das derzeitige Forum nur bedingt geeignet. Wir benötigen also so schnell wie möglich ein gut strukturierbares und übersichtliches Diskussionsforum. In Frage kommen nach meinem derzeitigen Informationsstand vor allem die Programme „phpBB“ und „vBulletin“, sowie vielleicht noch eine aktuelle Version unserer derzeitigen Forumsoftware „HumHub“.<br>
      <br>
      Wann die auch von vielen DM-Mitgliedern mit Spannung erwartete Social-Media-Software „Human Connection“ online gehen und auch die Kinderkrankheiten abgelegt haben wird, ist noch unsicher. „Human Connection“ kommt deshalb vorläufig nicht in Frage.<br>
      Die Frage ist nun, welche DM-Mitglieder das Know-How und auch Lust hätten, auf dem DM-Server aktuelle Versionen dieser drei Programme zu installieren und zu konfigurieren. Das können auch jeweils zwei oder drei Mitglieder in Teamarbeit machen. Interessenten melden sich bitte per Email bei info@deutsche-mitte.de.<br>
      <br>
      <strong>[03] Gesucht: Software für sichere und transparente Urabstimmungen</strong><br>
      <br>
      Darüber hinaus wäre es sehr sinnvoll, künftig über das Internet zu bestimmten Themen Urabstimmungen durchführen und Stimmungsbilder abfragen zu können. Ich habe von LIQUID gehört, einer Software, die von den Piraten verwendet wird. Wer hat Lust, sich um dieses Thema zu kümmern? Interessenten melden sich bitte per Email bei info@deutsche-mitte.de.<br>
      <br>
      <strong>[04] Gesucht: Mitglieder mit Fachkompetenz für die Bildung von Arbeitsgruppen</strong><br>
      <br>
      Wir haben viele Mitglieder mit bestimmten Fachkompetenzen, die bisher aber nicht wirklich zum Zuge gekommen sind. Ich möchte Euch – in Abstimmung mit dem Bundesvorstand und der Länderkonferenz – ermuntern, sich zusammenzusetzen und zu bestimmten Themen Inhalte zu erarbeiten. Vermutlich ist es das Beste, sich thematisch weiterhin an den Bundes- bzw. Landesministerien zu orientieren. Sobald die neue Diskussionsplattform verfügbar ist, können die Ergebnisse dieser Arbeitsgruppen für die gesamte Partei zur Diskussion freigegeben werden.<br>
      <br>
      <strong>[05] Gesucht: Kandidaten für den nächsten Bundesvorstand</strong><br>
      <br>
      Ein weiterer wichtiger Punkt, der jetzt ansteht, betrifft die Frage, welche Mitglieder uns künftig im Bundesvorstand repräsentieren sollen. Es sind ja wenigstens drei Positionen vakant.<br>
      <br>
      Ich möchte definitiv nicht mehr erleben, dass sich mangels Kandidaten frisch eingetretene oder bisher inaktive Mitglieder, die man kaum kennt, bei einem Bundesparteitag spontan für ein Amt melden und dann mangels Mitbewerber quasi vollautomatisch gewählt werden. Bitte macht Euch deshalb jetzt schon Gedanken darum, wer aus Eurem Landesverband geeignet wäre.<br>
      <br>
      Wir müssen dabei auch dem Paradoxon Rechnung tragen, dass diejenigen, die für ein solches Amt am geeignetsten sind, in der Regel von sich aus gar keine Ambitionen dazu haben. Sie müssen also von ihrem Umfeld - von Euch - ermuntert werden.<br>
      <br>
      Diese Kandidaten-Diskussion muss ab sofort starten, damit sich diese Kandidaten rechtzeitig vor dem nächsten Bundesparteitag den Mitgliedern vorstellen können.<br>
      <br>
      Zur Klarstellung: Ich selbst möchte gesundheitspolitischer Sprecher bleiben (bzw. wieder werden, bisher hängt das noch an Satzungsfragen) und habe nicht vor, für einen Sitz im Bundesvorstand zu kandidieren. Aus der Hörstel-Partei sollte jetzt keine Tolzin-Partei werden, sondern vielmehr eine Partei der Inhalte, bei der es unerheblich ist, wer gerade vorne steht.<br>
      <br>
      <strong>[06] Gesucht: Interessenten und Inhalte für Stammtischleiterschulungen</strong><br>
      <br>
      Ich bin derzeit bezüglich des Themas Stammtischleiterschulungen im Gespräch mit Bernhard Bayer, dem Generalsekretär Personal in Bayern. Er ist von Beruf Personaltrainer, also ein Profi, wenn es um das konstruktive Moderieren von Gruppen geht und hat sich im Landesverband Bayern und jetzt in Zusammenarbeit mit dem Interimsvorstand und der Länderkonferenz seine Sporen verdient.<br>
      <br>
      Eine von ihm geleitete Schulung würde einen Tag dauern, maximal 12 Teilnehmer haben und eine gewisse Teilnehmergebühr kosten. Ich bitte um Rückmeldungen über info@deutsche-mitte.de, wer so eine Schulung von der Örtlichkeit her organisieren könnte und welche Inhalte aus Eurer Sicht wichtig wären.<br>
      <br>
      Sobald Orte und Zeiten feststehen, werden wir die Termine und Anmeldemodalitäten bekanntgeben.<br>
      <br>
      Gerne können sich auch weitere qualifizierte Trainer für solche Schulungen melden.<br>
      <br>
      <strong>[07] Entwurf: Gesundheitspolitisches Programm wird demnächst zur Diskussion freigegeben</strong><br>
      <br>
      Sobald die neue Diskussionsplattform zur Verfügung steht, werde ich dort den von der Bundesarbeitsgemeinschaft Gesundheitspolitik erstellten Entwurf des Gesundheitspolitischen Programms zur Diskussion stellen.<br>
      <br>
      <strong>[08] Gesucht: Redaktionsteam zur Überarbeitung des Grundsatzprogramms</strong><br>
      <br>
      Eine Programmdiskussion an der Basis wird neue Herausforderungen mit sich bringen, denn mit Sicherheit wird heftig über Inhalte diskutiert und gestritten werden. Das muss zum einen gut moderiert werden, damit wir Freunde bleiben können. Zum anderen gewinnt das ursprünglich von Christoph Hörstel erstellte Programm eine neue Bedeutung, da es uns Leitplanken für die ergänzenden Programminhalte zur Verfügung stellt.<br>
      <br>
      Ich würde diese Leitplanken gerne in Hinsicht auf die anstehenden Programmdiskussionen optimieren und arbeite bereits an entsprechenden Formulierungen. Erste Entwürfe sollten ebenfalls möglichst bald offen diskutiert werden. Wer sich vorstellen kann, sich hier in einem Team unter meiner Federführung einzubringen, melde sich bitte über info@deutsche-mitte.de.<br>
      <br>
      <strong>[09] Eingestellt: Recherchen zu mutmaßlichen Wahlfälschungen</strong><br>
      <br>
      Nach der Bundestagswahl und der Landtagswahl Niedersachsen hatte Christoph Hörstel öffentlich von Wahlfälschung gesprochen und dazu aufgerufen, Beweise zu sammeln. Vielen Dank an alle Mitglieder und Wähler, die ihre Beobachtungen eingeschickt haben.<br>
      <br>
      Es mag sein, dass vereinzelt für die DEUTSCHE MITTE abgegebene Stimmen unterschlagen wurden, aber Beweise für eine systematische Wahlfälschung liegen bislang nicht vor. Da der Bundesvorstand im Augenblick alle Hände voll damit zu tun hat, sich nach dem Weggang von drei Mitgliedern des Kernvorstands neu zu formieren, hat er entschieden, die Möglichkeit von Wahlfälschungen nicht aktiv weiter zu verfolgen. Es würde auch an dem Endergebnis, das ja sehr ernüchternd für uns ausfiel, kaum etwas ändern.<br>
      <br>
      Wenn wir die Stimmung in den Landesverbänden und an der Parteibasis richtig deuten, wird es mit der DEUTSCHEN MITTE weitergehen, und zwar sogar mit noch größerem Enthusiasmus und Engagement als bisher. Dies bedeutet natürlich, dass wir auch künftig an Wahlen teilnehmen werden. Die Erfahrungen, die wir in den letzten Monaten gesammelt haben, werden systematisch ausgewertet werden und bei der nächsten Wahl werden wir wesentlich besser vorbereitet sein. Bitte tauscht Euch auch untereinander aus und sammelt alle Vorschläge, was wir beim nächsten Mal besser machen können und gebt sie an die Generalsekretäre Eures Landesverbandes oder direkt an info@deutsche-mitte.de weiter.<br>
      <br>
      <strong>[10] Verbindlich: 14-Tage-Frist für die Beantragung von Reisekostenerstattungen</strong><br>
      <br>
      Aus gegebenem Anlass weist der Bundesschatzmeister darauf hin, dass bewilligte Reisekostenerstattungen innerhalb einer Frist von 14 Tagen nach Anfallen der Kosten beantragt werden müssen. Nur so ist eine ordnungsgemäße Buchhaltung möglich – und wie wichtig eine ordnungsgemäße Buchhaltung ist, haben wir ja gerade schmerzlich erfahren müssen.<br>
      <br>
      <strong>[11] DATEV-Schulung der Schatzmeister und des Bundesvorstands hat stattgefunden</strong><br>
      <br>
      Am Donnerstag, den 9. November 2017, hat in Hannover eine Schulung der Kassenwarte und des Bundesvorstands in der Nutzung des neuen DATEV-Buchungssystems stattgefunden. Somit kann jetzt die systematische Aufarbeitung der finanziellen Historie der DEUTSCHEN MITTE beginnen. Der Interimsvorstand ist entschlossen, dies in Zusammenarbeit mit den Landesverbänden so zügig wie möglich voranzutreiben.<br>
      <br>
      Es ist klar, dass im Zusammenhang mit der Einführung von DATEV von seiten der Mitglieder noch etliche Fragen offen sind. Darauf werden wir in einem der nächsten Newsletter eingehen.<br>
      <br>
      So das wars für heute!<br>
      <br>
      <img src="https://newsletter.deutsche-mitte.de/media/com_acymailing/upload/img_0749c.jpg" hspace="5" align="right" alt="" height="" width="" style="float:right">Herzliche Grüße<br>
      Euer<br>
      Hans U. P. Tolzin<br>
      Sprecher der Bundesarbeitsgemeinschaft Gesundheitspolitik<br>
      DEUTSCHE MITTE<br>
      &nbsp;</span><br>
      <br>
      <br>
      <br>
      <span style="font-family:verdana,geneva,sans-serif"><strong>Deutsche Mitte</strong><br>
      Web: <a href="https://newsletter.deutsche-mitte.de/index.php?subid=2559&amp;option=com_acymailing&amp;ctrl=url&amp;urlid=36&amp;mailid=94" target="_blank" rel="noopener noreferrer">deutsche-mitte.de</a></span><br>
      <span style="font-family:verdana,geneva,sans-serif">Twitter: <a href="https://newsletter.deutsche-mitte.de/index.php?subid=2559&amp;option=com_acymailing&amp;ctrl=url&amp;urlid=40&amp;mailid=94" target="_blank" rel="noopener noreferrer">@DeutscheMitte</a><br>
      <br>
      Sie möchten uns <a href="https://newsletter.deutsche-mitte.de/index.php?subid=2559&amp;option=com_acymailing&amp;ctrl=url&amp;urlid=41&amp;mailid=94" target="_blank" rel="noopener noreferrer">mit einer Spende unterstützen?</a><br>
      IBAN: DE80430609671180443400<br>
      BIC: GENODEM1GLS (Bochum)<br>
      Verwendungszweck: Spende + Mitgliedsnummer oder vollständige Adresse (für die Erstellung der Zuwendungsbescheinigung)</span><br>
      <br>
      <span style="font-family:verdana,geneva,sans-serif"><a href="https://newsletter.deutsche-mitte.de/index.php?subid=2559&amp;option=com_acymailing&amp;ctrl=url&amp;urlid=42&amp;mailid=94" target="_blank" rel="noopener noreferrer">Datenschutzerklärung &amp; Impressum</a></span><br>
      &nbsp; 
      <div style="text-align:center"><span style="font-family:times new roman,times,serif"><a href="https://newsletter.deutsche-mitte.de/index.php?subid=2559&amp;option=com_acymailing&amp;ctrl=user&amp;task=out&amp;mailid=94&amp;key=Jo4jEliwpzGJFu" target="_blank" rel="noopener noreferrer" style="text-decoration:none"><span class="x_acymailing_unsub">Vom Newsletter abmelden</span></a></span></div>
      </div>
      
      </div>
      </div></div></div>
  </div>
  <button ion-button color="danger" full (click)="dismiss()">{{'CLOSE' | translate}}</button>
</ion-content>
