h2.header {
  font-family: "Oswald", sans-serif;
  color: #00498a;
}
h2.footer {
  font-family: "Oswald", sans-serif;
  color: #00498a;
}
h3 {
  font-family: "Oswald", sans-serif;
  color: #00498a;
}
p {
  font-family: "Calibri", sans-serif;
  color: #ffa016;
}

i {
  font-style: italic;
  font-size: small;
}
