<ion-header>
  <ion-navbar>
    <button ion-button menuToggle="left" icon-only>
      <ion-icon name='menu'></ion-icon>
    </button>
    <ion-title>{{'DM_YOUTUBE_CHANNEL' | translate}}</ion-title>
    <ion-buttons end>
      <button ion-button menuToggle="right" icon-only>
                <ion-icon name='more'></ion-icon>
              </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-list *ngFor="let video of videos" (click)="loadVideo(video)">
    <ion-item text-wrap>
      <ion-thumbnail item-left *ngIf="video.snippet.thumbnails.default.url">
        <img [src]="video.snippet.thumbnails.default.url">
      </ion-thumbnail>
      <h2 class="header">{{video.snippet.title}}</h2>
    </ion-item>
  </ion-list>
</ion-content>
