// http://ionicframework.com/docs/v2/theming/
// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
img {
    max-width: 100%;
    height: auto;
}

video,
audio {
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
    display: inline-block;
}

.toolbar-background {
    background: #005397;
}

.toolbar-title {
    color: #dddddd;
    display: block;
    overflow: hidden;
    width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.bar-button {
    color: #aaaaaa;
    background-color: transparent;
}

.bar-buttons {
    color: #dddddd;
    background-color: transparent;
}

.tab-button-icon {
    min-width: 2.4rem;
    font-size: 2.4rem;
    color: rgba(140, 140, 140, 0.8);
}

dm-light {
    background: #005397;
}

dm-dark {
    background: #00498a,
}

dmo-light {
    background: #ff8b00,
}

dmo-dark {
    background: #FA7D09
}