// http://ionicframework.com/docs/v2/theming/
// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
// @import url('https://fonts.googleapis.com/css?family=Lato');
// * {
// 	font-family: Lato;
// }
img {
    max-width: 100%;
    height: auto;
}

video,
audio {
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
    display: inline-block;
}

.toolbar-background {
    background: #005397;
}

.toolbar-title {
    color: #dddddd;
    display: block;
    overflow: hidden;
    width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.bar-button {
    color: #aaaaaa;
    background-color: transparent;
}

.bar-buttons {
    color: #dddddd;
    background-color: transparent;
}

.tab-button-icon {
    min-width: 2.4rem;
    font-size: 2.4rem;
    color: rgba(140, 140, 140, 0.8);
}

.dm-light {
    background: #005397;
}

.dm-dark {
    background: #00498a;
}

.dmo-light {
    background: #ff8b00;
}

.dmo-dark {
    background: #FA7D09;
}

.item-divider {
    color: white;
}

#menuleft {
    background: rgba(248, 248, 248, 0.8);
}

.aktuelles {
    background: #ff8b00;
    //margin-top: 10%;
}

.youtube {
    color: #cc181e;
    margin-top: 5%;
}

@-webkit-keyframes flipInYRight {
    from {
        -webkit-transform-origin: right bottom;
        transform-origin: right bottom;
        -webkit-transform: perspective(400px) rotate3d(0, 1, 0, -90deg);
        transform: perspective(400px) rotate3d(0, 1, 0, -90deg);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
        opacity: 0;
    }
    50% {
        -webkit-transform: perspective(400px);
        transform: perspective(400px);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }
    75% {
        -webkit-transform: perspective(400px) rotate3d(0, 1, 0, -2deg);
        transform: perspective(400px) rotate3d(0, 1, 0, -2deg);
        opacity: 1;
    }
    90% {
        -webkit-transform: perspective(400px) rotate3d(0, 1, 0, 1deg);
        transform: perspective(400px) rotate3d(0, 1, 0, 1deg);
    }
    to {
        -webkit-transform-origin: right bottom;
        transform-origin: right bottom;
        -webkit-transform: perspective(400px);
        transform: perspective(400px);
    }
}

@keyframes flipInYRight {
    from {
        -webkit-transform-origin: right bottom;
        transform-origin: right bottom;
        -webkit-transform: perspective(400px) rotate3d(0, 1, 0, -90deg);
        transform: perspective(400px) rotate3d(0, 1, 0, -90deg);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
        opacity: 0;
    }
    50% {
        -webkit-transform: perspective(400px);
        transform: perspective(400px);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }
    75% {
        -webkit-transform: perspective(400px) rotate3d(0, 1, 0, -2deg);
        transform: perspective(400px) rotate3d(0, 1, 0, -2deg);
        opacity: 1;
    }
    90% {
        -webkit-transform: perspective(400px) rotate3d(0, 1, 0, 1deg);
        transform: perspective(400px) rotate3d(0, 1, 0, 1deg);
    }
    to {
        -webkit-transform-origin: right bottom;
        transform-origin: right bottom;
        -webkit-transform: perspective(400px);
        transform: perspective(400px);
    }
}

.flipInYRight {
    -webkit-backface-visibility: visible !important;
    backface-visibility: visible !important;
    -webkit-animation-name: flipInYRight;
    animation-name: flipInYRight;
    -webkit-animation: flipInYRight 0.74s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: flipInYRight 0.74s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes scale-up-hor-left {
    0% {
        -webkit-transform: scaleX(0.4);
        transform: scaleX(0.4);
        -webkit-transform-origin: 0% 0%;
        transform-origin: 0% 0%;
    }
    100% {
        -webkit-transform: scaleX(1);
        transform: scaleX(1);
        -webkit-transform-origin: 0% 0%;
        transform-origin: 0% 0%;
    }
}

@keyframes scale-up-hor-left {
    0% {
        -webkit-transform: scaleX(0.4);
        transform: scaleX(0.4);
        -webkit-transform-origin: 0% 0%;
        transform-origin: 0% 0%;
    }
    100% {
        -webkit-transform: scaleX(1);
        transform: scaleX(1);
        -webkit-transform-origin: 0% 0%;
        transform-origin: 0% 0%;
    }
}

.scale-up-hor-left {
    -webkit-animation: scale-up-hor-left 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    animation: scale-up-hor-left 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}