<ion-split-pane when="lg">
  <ion-menu *ngIf="!wordpressMenusNavigation" id="menuleft" side="left" [content]="content">
    <ion-header>
      <ion-toolbar no-margin no-padding class="dm-dark">
        <div class="animated rotateInDown">
          <ion-title>{{'APPNAME' | translate}}</ion-title>
        </div>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list padding-top>
        <!-- <div class="fade-in-left">
          <ion-item-divider class="dmo-dark menu-divider-bordered">
            <h2>{{'MENU' | translate}}</h2>
          </ion-item-divider>
        </div>
        <ion-item margin-top margin-bottom></ion-item> -->
        <ion-item-group margin-vertical>
          <button class="animated bounceInLeft" ion-item *ngFor="let page of pagesleft" (tap)="openPage(page)" [class.active]="checkActivePage(page)">
            <ion-icon item-start [name]="page.icon"></ion-icon>
            <h2 color="primary" ion-text>{{page.title | translate}}</h2>
          </button>
          <!--          <button outline class="animated bounceInLeft" ion-item (tap)="openPageYoutube()">
                        <ion-icon name="logo-youtube" class="youtube" item-start></ion-icon>
                        <h2 ion-text color="primary">{{'YOUTUBE_CHANNEL' | translate}}</h2>
                        <ion-note item-end>DM</ion-note>
                    </button>
                     <button outline class="animated bounceInLeft" ion-item (tap)="openPageWordpress(page)">
                      <ion-icon name="" class="" item-start></ion-icon>
                      <h2 ion-text color="primary">Downloads</h2>
                      <ion-note item-end>DM</ion-note>
                  </button>
                    <button outline class="animated bounceInLeft" ion-item (tap)="startSplash()">
                      <h2 ion-text color="primary">Start</h2>
                      <ion-note item-end>Splashscreen</ion-note>
                  </button> -->
        </ion-item-group>
        <ion-item-group margin-top>
          <button class="animated bounceInLeft" ion-item *ngFor="let page of pagesleftcenter" (tap)="pushPage(page)" [class.active]="checkActivePage(page)">
            <ion-icon item-start [name]="page.icon"></ion-icon>
            <h2 color="primary" ion-text>{{page.title | translate}}</h2>
          </button>
        </ion-item-group>
        <ion-item-group margin-top>
          <button class="animated bounceInLeft" ion-item *ngFor="let page of pagesleftbottom" (tap)=" openPageStammtische(page)" [class.active]="checkActivePage(page)">
            <ion-icon item-start [name]="page.icon"></ion-icon>
            <h2 color="primary" ion-text>{{page.title | translate}}</h2>
          </button>
        </ion-item-group>
      </ion-list>
    </ion-content>
    <ion-footer>
      <button class="bounce-top" ion-button full *ngFor="let page of pagesleftfooter" (tap)="pushPage(page)" [class.active]="checkActivePage(page)">
        <ion-icon margin [name]="page.icon"></ion-icon>
        <h4 style="font-size:smaller" color="primary">{{page.title | translate}}</h4>
      </button>
    </ion-footer>
  </ion-menu>

  <ion-menu *ngIf="wordpressMenusNavigation" [content]="content">
    <ion-nav [root]="menuPage"></ion-nav>
  </ion-menu>

  <ion-nav [root]="rootPage" main #content></ion-nav>
</ion-split-pane>

<ion-menu id="menuright" side="right" swipeEnabled="true" [content]="content">
  <ion-content class="card-background-menu">
    <ion-list-header class="fade-in-right dmo-dark">
      <h2 style="color: white;">Facebook Stream</h2>
    </ion-list-header>
    <ion-list>
      <ion-item no-padding style="max-height:1000px; max-width:100%" class="animated bounceInRight">
        <iframe class="animated flipInYRight" src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Fhoersteldeutschemitte%2F&tabs=timeline&width=340&height=500&small_header=true&adapt_container_width=true&hide_cover=true&show_facepile=false&appId=131001554119757"
          width="340" height="500" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
      </ion-item>
      <ion-item-divider class="bounce-top dmo-dark">
        <h2>{{'FAVORITES' | translate}} ({{favoritePosts.length}})</h2>
      </ion-item-divider>
      <ion-item *ngFor="let post of favoritePosts">
        <ion-item (tap)="loadPost(post)">
          {{post.title.rendered}}
        </ion-item>
      </ion-item>
      <ion-item-divider class="fade-in-right dmo-dark">
        <h2>{{'DMVENUE' | translate}}</h2>
      </ion-item-divider>
      <ion-item no-margin no-padding *ngFor="let page of pagesrightfooter" (tap)="pushPage(page)" [class.active]="checkActivePage(page)"
        class="animated bounceInRight">
          <div class="card-title">BESUCHEN SIE UNS</div>
          <img [height]= src="assets/img/menu/Banner-DM-Stammtische.gif" />
      </ion-item>
    </ion-list>
  </ion-content>
  <!--   <ion-footer>
    <ion-list>
      <ion-item-group>
        <div class="fade-in-right">
          <ion-item-divider class="dmo-dark menu-divider-bordered" ion-item>
            <h2>{{'SETTINGS' | translate}}</h2>
          </ion-item-divider>
        </div>
        <p style="display:flex; margin:0px">
          <button style="width:50%" class="animated rotateInUpRight" ion-item icon-start *ngFor="let page of pagesrightfooter" (tap)="pushPage(page)">
            <ion-icon small [name]="page.icon"></ion-icon>
              <h4 style="font-size:smaller" color="primary">{{page.title | translate}}</h4>
          </button>
        </p>
      </ion-item-group>
    </ion-list>
  </ion-footer> -->
</ion-menu>
