ion-content.page-youtube-video {
  .youtube-video iframe {
    height: 75%;
    width: 100%;
  }

  h2.header {
    font-family: "Oswald", sans-serif;
    color: #00498a;
  }

  p.content {
    font-family: "Calibri", sans-serif;
    color: #222;
  }
}
