h1.header {
  font-family: "Oswald", sans-serif;
  color: #00498a;
}
h2.header {
  font-family: "Oswald", sans-serif;
  color: #00498a;
}
h2.button {
  font-family: "Oswald", sans-serif;
}
i {
  color: #ffa016;
  font-style: italic;
  font-size: small;
}
p {
  font-family: "Calibri", sans-serif;
  color: #ffa016;
}
.alert {
  max-width: 80%;
  max-height: 60%;
}

.alert .alert-message {
  max-height: 60%;
  font-size: 15px;
}

.alert .alert-wrapper {
  border-radius: 2px;
  max-width: 80%;
  background-color: #fafafa;
  box-shadow: 0 16px 20px rgba(0, 0, 0, 0.4);
}

.about {
  max-width: 80%;
  max-height: 60%;
}

.about.alert {
  max-width: 80%;
  max-height: 60%;
}

.about.alert-wrapper {
  max-width: 80%;
  max-height: 60%;
}
