
ion-toolbar.toolbar-header .toolbar-background {
  background: #ffffff;
}
h1.title-h1 {
  font-family: "Oswald", sans-serif;
  color: #00498a;
}
h4.title-date {
  font-family: "Calibri", sans-serif;
  color: rgb(132, 132, 132);
  font-style: italic;
  font-size: smaller;
}
wordpress-feature-media img {
  width: 100%;
}
